<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="setStudentId()" data-bs-target="#updateCreateStudentModal">
    {{ updateMode ? 'Editar' : 'Agregar Nuevo '}} 
</button>
  
<!-- Modal -->
<div #updateCreateStudentModal class="modal fade" id="updateCreateStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div #modalHeader class="modal-header">
          <h5 #modalTitle class="modal-title" id="exampleModalLabel">
            {{ updateMode ? 'Actualizar estudiante' : 'Editar studiante'}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- New Studen Form -->
        <form  [formGroup]="form" (ngSubmit)="saveData()">
          <div class="modal-body">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Completa La informacion del usuario.
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="form-floating mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="Name"
                        formControlName="name"
                      />
                      <label for="floatingInput">Name</label>
                    </div>
                    <div class="form-floating  mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="lastName"
                        placeholder="LastName"
                        formControlName="LastName"
                      />
                      <label for="floatingPassword">Last name</label>
                    </div>
                    <div class="form-floating  mb-3">
                      <input
                        type="tel"
                        class="form-control"
                        id="phoneNumber"
                        placeholder="Phone Number"
                        formControlName="phoneNumber"
                      />
                      <label for="floatingPassword">Phone Number</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Selecciona los cursos que quieres asignar al usuario.
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    
                    <div class="form-floating  mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="post"
                        placeholder="Post"
                        formControlName="post"
                      />
                      <label for="floatingPassword">Post</label>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>