<div *ngIf="students.length"  class="container text-center my-4">
  <app-create-update-student [student]="defaultStudent"></app-create-update-student>
</div>
<div *ngIf="students.length" class="table-responsive mt-3">
  <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Primer nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; index as i;">
            <th scope="row">{{i}}</th>
            <td>{{student.identificationType }}: {{ student.identification }} </td>
            <td>{{student.name1}}</td>
            <td>{{student.lastName1}}</td>
            <td>{{student.email}}</td>
            <td>
              <app-create-update-student [student]="student"></app-create-update-student>
            </td>
          </tr>
        </tbody>
  </table>
</div>

<div *ngIf="!students.length && !errorFetchingStudents" class="d-flex justify-content-center my-3">
  <div class="spinner-border spinner-border-xl" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="errorFetchingStudents" class="card border-danger my-3">
  <div class="card-body text-danger">
    <h5 class="card-title">Ha Acurrido un error al intentar conectar con la base de datos. Por favor revisa tu coneccion a internet.</h5>
  </div>
</div>